@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;500;700&display=swap');
/* 
    font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
*/
.bg{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Lato';
}

.bg::before{
    content: '';
    position: fixed;
    left:0; right: 0;top:0;bottom:0;
    width: 100%;
    height: 100%;
    background-image: url("https://pixabay.com/get/gc70f016463ce0f4b9cfd1d562d1425dbeff1cb30c39a7045e2cae739f09f4dc96b88c4ca29290a6c2a93f75a62f346d3_1920.jpg");
    opacity: 0.42;
    z-index:-1;
}

#para{
    width: 100%;
}

#survey-form{
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.75;
}